section.about#about_us
  .container
    h2.title.about__title about us
    .subtitle.about__subtitle We are added our major Services
    ul.about-list
      li.about-list__item
        .icon.icon-like
        h3.about__header Facebook Marketing
        p.about__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores aspernatur, cumdebitis, esse, magni nesciunt obcaecati
      li.about-list__item
        .icon.icon-book
        h3.about__header landing pages Creation
        p.about__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores aspernatur, cumdebitis, esse, magni nesciunt obcaecati
      li.about-list__item
        .icon.icon-message
        h3.about__header Ads management
        p.about__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores aspernatur, cumdebitis, esse, magni nesciunt obcaecati
