section.analysis#analysis
  .container
    h2.title.title--white.analysis__title get your free facebook analysis now
    .subtitle.subtitle--white.analysis__subtitle Enter your details below
    button(type="button").analysis__btn-down
      i.fas.fa-angle-down.analysis__icon
    .analysis-form-container.is-hidden
      form(method="get").analysis-form
        button(type="button").analysis-form__btn-close x
        p.analysis-form__text Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
        .input-group
          input(type="text" placeholder="your name").input-group__input
          input(type="tel" placeholder="contact number").input-group__input
          input(type="text" placeholder="company name").input-group__input
        button(type="submit").button.button--red.button--text-uppercase.analysis-form__btn-submit submit now
