section.approach#our_approach
  .container
    h2.title.approach__title our approach
    .subtitle.approach__subtitle Check Our approaches step by step ( how we do it )
    ul.approach-list
      li.approach-list__item
        .approach__image
          img.approach__picture(src="images/step-1.jpg" alt="picture")
          .approach__step step
        .approach__text
          .approach__header Step 1 : Heading Here
          .approach__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
      li.approach-list__item
        .approach__image
          img.approach__picture(src="images/step-2.jpg" alt="picture")
          .approach__step step
        .approach__text
          h3.approach__header Step 2 : Heading Here
          p.approach__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
      li.approach-list__item
        .approach__image
          img.approach__picture(src="images/step-3.jpg" alt="picture")
          .approach__step step
        .approach__text
          h3.approach__header Step 3 : Heading Here
          p.approach__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
      li.approach-list__item
        .approach__image
          img.approach__picture(src="images/step-4.jpg" alt="picture")
          .approach__step step
        .approach__text
          h3.approach__header Step 4 : Heading Here
          p.approach__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
