footer.footer
  section.footer__top
    .container
      h2.footer-title Get in touch
      .social-icons
        a(href="https://www.facebook.com/" target="_blank").icon-container
          i.fab.fa-facebook-f.social
        a(href="https://twitter.com/" target="_blank").icon-container
          i.fab.fa-twitter.social
        a(href="https://support.google.com/" target="_blank").icon-container
          i.fab.fa-google-plus-g.social
        a(href="https://www.linkedin.com/" target="_blank").icon-container
          i.fab.fa-linkedin-in.social
      form(method="get").footer-form
        p.footer-form__text Subscribe to our newsletter to stay update with what is new
        input(type="text" placeholder="email address").footer-form__input
        button(type="submit").footer-form__btn Subscribe
  section.footer__bottom
    p.footer__bottom-copyright Cssauthor.com &copy; 2014 All Rights Reserved
