section.work
  .container
    h2.title.title--white.work__title our work
    .subtitle.subtitle--white.work__subtitle We are added our featured works below
    ul.work-list
      li.work-list__item
        .work__text
          .icon-work-item.work__icon
          .work__header project name
          .work__descr Facebook marketing
        img.work__picture(src="../images/work-1.jpg" alt="picture")
      li.work-list__item
        .work__text
          .icon-work-item.work__icon
          .work__header project name
          .work__descr Landing page
        img.work__picture(src="../images/work-2.jpg" alt="picture")
      li.work-list__item
        img.work__picture(src="../images/work-3.jpg" alt="picture")
        .work__text
          .icon-work-item.work__icon
          .work__header project name
          .work__descr Landing page
      li.work-list__item
        img.work__picture(src="../images/work-4.jpg" alt="picture")
        .work__text
          .icon-work-item.work__icon
          .work__header project name
          .work__descr Facebook marketing
