.about {
  padding: 8.2% 0 9.6%;
  color: #424242;

  &__subtitle {
    margin-bottom: 45px;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    &__item {
      width: 29%;
      text-align: center;
    }
  }

  &__header {
    font-family: $ff-main-bold;
    font-size: 22px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 13px;
  }

  &__descr {
    font-size: 13.5px;
    line-height: 22px;
    color: #5c5c5c;
    margin: 0;
  }
}

// adaptive (desktop first)
@media (max-width: 1100px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 96%;
  }
  .about-list {
    flex-wrap: wrap;
    justify-content: center;
    &__item {
      width: 80%;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}
