.analysis {
  background-color: #1287bf;
  padding: 6.3% 0 7%;
  color: #fff;

  &__subtitle {
    margin-bottom: 18px;

    &:after {
      display: none;
    }
  }

  &__btn-down {
    display: block;
    width: 58px;
    height: 58px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #1287bf;
    margin: 0 auto 25px;
    transition: 0.3s;

    &:hover {
      background-color: lighten(#1287bf, 10%);
    }
  }

  &__icon {
    font-size: 40px;
  }

  &-form-container {
    padding-top: 30px;
  }

  &-form {
    position: relative;
    max-width: 66.7%;
    background-color: #fff;
    border-radius: 3px;
    margin: auto;
    padding: 4.3% 5.8% 6.3%;

    &:before {
      content: "";
      position: absolute;
      top: -6.4%;
      left: 45.5%;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 30px solid #fff;
    }

    &__btn-close {
      position: absolute;
      top: -5%;
      left: 96%;
      width: 45px;
      height: 45px;
      background-color: #de2b24;
      border: 2px solid #fff;
      border-radius: 50%;
      box-shadow: -1px 1px 1px -1px rgba(0,0,0,0.75);
      font-size: 32px;
      transition: 0.3s;

      &:hover {
        background-color: lighten(#de2b24, 10%);
      }
    }

    &__text {
      font-size: 15px;
      line-height: 22px;
      color: #828282;
      text-align: center;
      margin-top: 0;
      margin-bottom: 35px;
    }

    &__btn-submit {
      display: block;
      font-family: $ff-main-bold;
      font-size: 15px;
      line-height: 1;
      padding: 15px 30px;
      border: none;
      margin: 0 auto;
    }
  }
}

.input-group {
  text-align: center;
  margin-bottom: 35px;
  color: #111;

  &__input {
    width: 79%;
    min-height: 50px;
    border: 1.0px solid #d8d8d8;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 14px;
    text-transform: capitalize;
    transition: 0.3s;

    &:hover {
      border: 1px solid #1287bf;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #b0b0b0;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #b0b0b0;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #b0b0b0;
    }
  }
}

// adaptive (desktop first)
@media (max-width: 1100px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .analysis {
    &-form {
      max-width: 86%;
      &:before {
        left: 45%;
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .analysis {
    &-form {
      &:before {
        left: 44%;
      }
    }
  }
}
@media (max-width: 576px) {
  .container {
    width: 96%;
  }
  .analysis {
    &-form {
      &:before {
        display: none;
      }
      &__btn-close {
        top: -4%;
        left: 91%;
      }
    }
  }
}
