.approach {
  background-color: #f3f3f3;
  padding: 7.5% 0 10.8%;
  color: #424242;

  &__subtitle {
    margin-bottom: 45px;
  }

  &-list {
    margin: 0;
    padding: 0;
    counter-reset: count;

    &__item {
      min-height: 236px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: -1px -1px 10px 1px rgba(214,214,214, 1);

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &:nth-child(2n) {
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        .approach__text {
          padding: 6.8% 8.6% 0 6.8%;
        }
        .approach__step {
          left: 0;
        }
        .approach__header {
          margin-top: 0;
        }
        .approach__descr {
          margin: 0;
        }
      }
    }
  }

  &__image {
    display: inline-block;
    vertical-align: top;
    position: relative;
    max-width: 339px;
    max-height: 236px;
  }

  &__picture {
    width: 100%;
    object-fit: cover;
  }

  &__step {
    @include center-y();

    position: absolute;
    top: 62px;
    left: 100%;

    width: 103px;
    height: 103px;
    background-color: #de2b24;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    padding: 10px 30px;

    &:before {
      content: counter(count);
      counter-increment: count;
      display: block;
      font-family: $ff-steps;
      font-size: 48px;
      line-height: 1;
      margin-bottom: 5px;
    }
  }

  &__text {
    display: inline-block;
    vertical-align: top;
    padding: 6.8% 6.8% 0 8.6%;
    width: 64.2%;
  }

  &__header {
    font-family: $ff-main-bold;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 13px;
    margin-top: 0;
  }

  &__descr {
    font-size: 13.5px;
    line-height: 22px;
    color: #5c5c5c;
    margin: 0;
  }
}

// adaptive (desktop first)
@media (max-width: 1100px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .approach {
    &__text {
      width: 52%;
      padding: 5% 5% 0 8.6%;
    }
    &-list {
      &__item {
        &:nth-child(2n) {
          .approach__text {
            padding: 5% 8.6% 0 5%;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .approach {
    &__step {
      display: none;
    }
    &__text {
      padding: 3% 3% 0 3%;
    }
    &-list {
      &__item {
        display: flex;
        &:nth-child(2n) {
          .approach__text {
            padding: 3% 3% 0 3%;
          }
        }
      }
    }
    &__picture {
      height: 100%;
    }
  }
}
@media (max-width: 576px) {
  .container {
    width: 96%;
  }
  .approach {
    &__text {
      text-align: center;
      width: 90%;
      margin-bottom: 5%;
    }
    &-list {
      &__item {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &__image {
      margin-top: 5%;
      text-align: center;
    }
    &__picture {
      width: 90%;
    }
  }
}
