.hero {
  padding: 15% 0 20%;
  background: #ccc url("../images/hero-bg.jpg") center / cover no-repeat;
  color: #fff;
  text-align: center;
}

.hero__about {
  font-family: $ff-main-bold;
  font-size: 48px;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 15px;
}

.hero__title {
  font-family: $ff-main-light;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero__button {
  font-family: $ff-main-bold;
  font-size: 23px;
  line-height: 1;
  padding: 2% 3.3%;
}
